# ==========================================
# React Frontend Environment Variables
# Rename this file to '.env' before running docker compose!
# ==========================================

VITE_API_URL=https://YOUR_NGROK_URL_HERE.ngrok-free.app